/Project/AAA/dist/
/Project/AAA/build/
/AAA Old/build/
/AAA Old/dist/
/AAA Old/nbproject/private/
/AAA Alpha/build/
/AAA Alpha/dist/
/AAA Alpha/nbproject/private/
/AAA 1.0/.nb-gradle/
/NB Project/nbproject/private/
/NB Project/build/
/NB Project/dist/